<div class="form-group" *ngIf="form">
  <div *ngFor="let field of form.field" class="col-sm-10">
    <input type="{{field.type}}" placeholder="{{field.name}}" id="{{field.id}}">
    <label for="{{field.id}}">{{field.name}}</label>
  </div>
</div>
