<div class="form-group" *ngIf="steps">
  <pfng-list
    [config]="listConfig"
    [items]="steps"
    [itemTemplate]="itemTemplate"
    [expandTemplate]="expandTemplate"
    [actionTemplate]="actionTemplate"
    (onActionSelect)="handleAction($event)"
    (onCheckboxChange)="handleCheckboxChange($event)"
    (onClick)="handleClick($event)"
    (onDblClick)="handleDblClick($event)"
    (onSelect)="handleSelect($event)"
    (onSelectionChange)="handleSelectionChange($event)">
    <ng-template #itemTemplate let-item="item" let-index="index">
      <div class="list-pf-content-wrapper">
        <div class="list-pf-main-content">
          <div class="list-pf-title">{{item.name}}</div>
        </div>
      </div>
    </ng-template>
    <ng-template #expandTemplate let-item="item" let-index="index">
      <app-stepform [stepId]="item.id"></app-stepform>
    </ng-template>
    <ng-template #actionTemplate let-item="item" let-index="index">
      <pfng-action class="list-pf-actions"
                   [config]="getActionConfig(item, startButtonTemplate)"
                   (onActionSelect)="handleAction($event, item)">
        <ng-template #startButtonTemplate let-action="action">
          {{item.started === true ? "Starting" : action.title}}
        </ng-template>
      </pfng-action>
    </ng-template>
  </pfng-list>
</div>
